.navbar {
  background-color: #d14242 !important;
  margin: 0px !important;
  padding: 0px !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
  margin: 0px !important;
  padding: 10px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar .nav-link.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.footer {
  background-color: #d3d3d3 !important;
  text-align: center;
}

.btn-primary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.btn-secondary {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.btnbutton {
  background-color: #959ff8 !important;
  color: white !important;
}

.btn-secondary .fa-gear {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}
.collapse{
  position: sticky;
  top: 0px;
  transition-duration:1s !important;
}